body .teaser {
  margin: 10px auto;
  padding: 5rem 0;
  background-size: cover;
  overflow: hidden; }
  body .teaser.center .container .bordered {
    margin: 0 auto; }
    body .teaser.center .container .bordered .content {
      text-align: center; }
  body .teaser.left .container .bordered {
    float: left; }
    body .teaser.left .container .bordered .title .bar.left {
      max-width: 40px; }
    body .teaser.left .container .bordered .content {
      text-align: left; }
  body .teaser.right .container .bordered {
    float: right; }
    body .teaser.right .container .bordered .title .bar.right {
      max-width: 40px; }
    body .teaser.right .container .bordered .content {
      text-align: right; }
  body .teaser.dark .container .bordered {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000; }
    body .teaser.dark .container .bordered .title .bar {
      background-color: #000000; }
    body .teaser.dark .container .bordered .title h3 {
      color: #000000; }
    body .teaser.dark .container .bordered .content p {
      color: #000000; }
  body .teaser.light .container .bordered {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white; }
    body .teaser.light .container .bordered .title .bar {
      background-color: white; }
    body .teaser.light .container .bordered .title h3 {
      color: white; }
    body .teaser.light .container .bordered .content p {
      color: white; }
  body .teaser .container .bordered {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    max-width: 500px; }
    body .teaser .container .bordered .title {
      display: flex; }
      body .teaser .container .bordered .title .bar {
        height: 2px;
        background-color: black;
        display: block;
        width: 100%; }
      body .teaser .container .bordered .title h3 {
        line-height: 4rem;
        position: relative;
        top: -20px;
        margin: 0 1rem;
        text-wrap: no-wrap; }
    body .teaser .container .bordered .content {
      padding: 0 40px 25px; }